<ngx-graph
  [center$]="center$"
  [zoomToFit$]="zoomToFit$"
  [view]="[1600, 1600]"
  layout="d3ForceDirected"
  showMiniMap=true
  autoCenter=true
  [links]="[
    {
      id: 'a',
      source: '1',
      target: '2'
    },
    {
      id: 'b',
      source: '1',
      target: '3'
    },
    {
      id: 'c',
      source: '3',
      target: '4'
    },
    {
      id: 'd',
      source: '3',
      target: '5'
    },
    {
      id: 'e',
      source: '4',
      target: '5'
    },
    {
      id: 'f',
      source: '2',
      target: '6'
    }
  ]"
  [nodes]="[
    {
      id: '1',
      label: 'Node A'
    },
    {
      id: '2',
      label: 'Node B'
    },
    {
      id: '3',
      label: 'Node C'
    },
    {
      id: '4',
      label: 'Node D'
    },
    {
      id: '5',
      label: 'Node E'
    },
    {
      id: '6',
      label: 'Node F'
    }
  ]"
>

<ng-template #nodeTemplate let-node>
  <svg:g
    (click)="onNodeClick($event)"
    (dblclick)="onNodeClick($event)"
    class="node"
    ngx-tooltip
    [tooltipPlacement]="'top'"
    [tooltipType]="'tooltip'"
    [tooltipTitle]="node.label"
  >
    <svg:rect
      [attr.width]="node.dimension.width"
      [attr.height]="node.dimension.height"
      [attr.fill]="node.data.color"
    />
    <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
      {{node.label}}
    </svg:text>
  </svg:g>
</ng-template>

</ngx-graph>
